* {
color: white;
font-family: "Courier New", Georgia;
}

h1 {
font-weight: normal;
}

body {
background-color: black;
margin: 30px;
margin-right: 0px;
}

td {
	padding: 10px;
	padding-right: 300px;
	padding-bottom: 100px;
}